<div class='nav__ID'>
    <p class="small font-italic text-muted mt-1">Freely arrange the links to all eCRF and Questionnaires.<br>In this example the grouping is done by visit</p>
    <p class="small font-italic text-muted mt-1">The eCRF and Questionnaires in this example are an overview<br> of some different types of data entries available.<br>They can be combined into any eCRF or Questionnaire.</p>
    <p class="small font-italic text-muted mt-1">For clarity separate eCRF for entries not related to any visits.</p>
</div>
<div class='nav__ID'>
    <span>Screening</span>
    <ul>
        <li><a href=?/dynamic-text-form-data-spardac>Dynamically generated text inputs from label names</a></li>
        <li><a href=?/upload-files-data-spardac>Upload files</a></li>
        <li><a href=?/read-data-from-file-data-spardac>Read data from file</a></li>
        <li><a href=?/one-many-standard-data-spardac>One of many choice - Standard</a></li>
        <li><a href=?/one-many-special-1-data-spardac>One of many choice - Special type 1</a></li>
        <li><a href=?/one-many-special-2-data-spardac>One of many choice - Special type 2</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Baseline</span>
    <ul>
        <li><a href=?/textarea-data-spardac>Multiple lines text inputs</a></li>
        <li><a href=?/many-of-many-data-spardac>Many of many choices - Standard</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Visit 1 </span>
    <ul>
        <li><a href=?/calculation-data-spardac>Number input with calculation</a></li>
        <li><a href=?/visual-analogue-scale-data-spardac>Visual analogue scale</a></li>
        <li><a href=?/digital-scale-data-spardac>Digital scale</a></li>
        <li><a href=?/star-rating-data-spardac>Star rating</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 </span>
    <ul>
        <li><a href=?/date-time-data-spardac>Date/time inputs</a></li>
        <li><a href=?/number-max-min-data-spardac>Number min/max inputs</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Unscheduled</span>
    <ul>
        <li><a href=?/concom-medication-data-spardac>Concomitant Medication</a></li>
        <li><a href=?/adverse-event-data-spardac>Adverse Event</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>